@media only screen and (min-width: 599px) {
  .circle,
  .EmpYa,
  .LogoEmpYa,
  .texto,
  .SocialNets,
  .Exito {
    flex-direction: column;
  }
}
@media only screen and (min-width: 600px) {
  .circle,
  .EmpYa,
  .LogoEmpYa,
  .texto,
  .SocialNets,
  .Exito {
    flex-direction: row;
  }
}
.LogoEmpYa img {
  margin-left: 760px;
  margin-top: -20px;
  width: 400px;
  height: 400px;
}
.SocialNets {
  background-color:white;
  max-width: 140px;
  max-height: 30px;
  height: 10px;
  width: 140px;
  position: absolute;
  top: 430px;
  left: 110px;
}
.texto {
  background-color:white;
  font-family: Verdana, Tahoma, sans-serif;
  position: absolute;
  border-radius: 5px;
  top: 100px;
  left: 110px;
}
.container-circle {
  width: 640px;
  height: 550px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.circle {
  width: 850px;
  height: 780px;
  background-color: #fed7aa;
  border-radius: 50%;
  position: relative;
  top: -100px;
  right: -50px;
  margin: auto;
}
.EmpYa {
  color: #F97316;
  font-size: 24px;
}
@font-face {
  font-family: 'MiFuente'; /* Nombre de la fuente */
  src: url('ruta/de/la/fuente.ttf'); /* Ruta a la fuente en tu servidor */
}

/* Aplicar la fuente a elementos específicos */
body {
  font-family: 'MiFuente', sans-serif; /* Usar la fuente 'MiFuente' como predeterminada */
}
.Container-Exito{
  border: 1px solid black; 
  width: 350px;
  height: 120px;
  overflow: hidden;
}
.Exito {
  margin: auto;
  font-size: 50px;
}
